:root {
    --white: #fff;
    --white2: rgb(204, 204, 204);
    --yellow: rgb(170, 154, 10);
    --black: black;
    --gray: #212121;
    --bg: #3f3f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    border: 0;
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.container {
    background-color: var(--gray);
    border-radius: 5px;
    border-top: 5px solid var(--yellow);
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    color: var(--white);
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control input {
    border: none;
    border-bottom: 2px solid var(--yellow);
    background-color: var(--white2);
    color: var(--gray);
    outline: 0;

    display: block;

    font-size: 14px;

    width: 100%;
    padding: 10px;
}

.form-control input::placeholder {
    color: var(--gray);
}

.form-control.success input {
    box-shadow: 0px 0px 5px 3px rgb(8, 108, 8);
    border: 2px solid rgb(8, 108, 8);
}

.form-control.error input {
    box-shadow: 0px 0px 5px 3px rgb(182, 57, 16);
    border: 2px solid rgb(182, 57, 16);
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

.form button {
    background-color: var(--yellow);
    border-radius: 5px;
    color: var(--white);
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: var(--white2);
    color: var(--gray);
    transition: 0.3s;
}